{
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    "comma-dangle": [
      2,
      "never"
    ],
    "no-cond-assign": [
      2,
      "always"
    ],
    "no-console": 2,
    "no-constant-condition": 2,
    "no-control-regex": 2,
    "no-debugger": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty-character-class": 2,
    "no-empty": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-inner-declarations": [
      2,
      "functions"
    ],
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 2,
    "no-sparse-arrays": 2,
    "no-unreachable": 2,
    "use-isnan": 2,
    "valid-typeof": 2,
    "complexity": [
      2,
      4
    ],
    "curly": [
      2,
      "all"
    ],
    "default-case": 2,
    "eqeqeq": [
      2,
      "smart"
    ],
    "no-caller": 2,
    "no-eval": 2,
    "no-extra-bind": 2,
    "no-fallthrough": 2,
    "no-implied-eval": 2,
    "no-iterator": 2,
    "no-labels": 2,
    "no-lone-blocks": 2,
    "no-loop-func": 2,
    "no-native-reassign": 2,
    "no-new-func": 2,
    "no-octal": 2,
    "no-redeclare": [
      2,
      {
        "builtinGlobals": true
      }
    ],
    "no-sequences": 2,
    "no-throw-literal": 2,
    "no-unused-expressions": 2,
    "no-useless-call": 2,
    "no-void": 2,
    "no-warning-comments": [
      1,
      {
        "terms": [
          "TODO",
          " FIXME"
        ],
        "location": "anywhere"
      }
    ],
    "no-with": 2,
    "radix": 2,
    "no-delete-var": 2,
    "no-undef": 2,
    "no-unused-vars": 2,
    "no-new-require": 2,
    "no-path-concat": 2
  },
  "globals": {
    "module": false,
    "require": false
  }
}